src/main/mule/traxion-pharma-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="traxion-pharma-api-httpListenerConfig">
        <http:listener-connection host="${https.listener.host}" port="${https.listener.port}" protocol="HTTPS" readTimeout="${https.listener.read.timeout}" tlsContext="TLS_Context" />
    </http:listener-config>
    <apikit:config name="traxion-pharma-api-config" api="resource::ab8117f6-d718-4307-b5f7-03262d589cd0:traxion-pharma-api:1.0.18:raml:zip:traxion-pharma-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="traxion-pharma-api-main">
        <http:listener config-ref="traxion-pharma-api-httpListenerConfig" path="${https.listener.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="traxion-pharma-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-400",
			"user_error_description": "The server cannot or will not process the request due to something that is perceived to be a client error",
			"system_error_description": "Bad Request"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-404",
			"user_error_description": "The origin server did not find a current representation for the target resource or is not willing to disclose that one exists",
			"system_error_description": "Not Found"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-405",
			"user_error_description": "The method received in the request-line is known by the origin server but not supported by the target resource",
			"system_error_description": "Method Not Allowed"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-406",
			"user_error_description": "The target resource does not have a current representation that would be acceptable to the user agent, according to the proactive negotiation header fields received in the request1, and the server is unwilling to supply a default representation",
			"system_error_description": "Not Acceptable"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-415",
			"user_error_description": "The origin server is refusing to service the request because the payload is in a format not supported by this method on the target resource",
			"system_error_description": "Unsupported Media Type"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-501",
			"user_error_description": "The server does not support the functionality required to fulfill the request",
			"system_error_description": "Not Implemented"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2ac2fec4-adcb-411e-b442-73b5680a5fe0" type="HTTP:BAD_REQUEST">
                <ee:transform doc:name="Transform Message" doc:id="947248e3-3743-4fc1-bb8b-77b8c3a3acaf">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": error.errorType.namespace ++ ": " ++ error.errorType.asString,
			"user_error_description": error.description,
			"system_error_description": error.errorMessage.payload.traxion_response.error
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7853e24c-5f33-4451-afae-9176a2a8d495" type="TEP:ERROR">
                <!-- [STUDIO:"Choice"]<choice doc:name="Choice" doc:id="1b6fd8df-2c65-4791-aa73-ca4c6c71f8aa" tracking:enable-default-events="true">
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="eed9d632-34fb-40e8-b10b-dad1358daa7a" message="#[payload&#93;"/>
					</otherwise>
				</choice> [STUDIO] -->
                <ee:transform doc:name="Transform Message" doc:id="2235635c-af51-4087-9db1-f6c933fdf3ab">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json

fun handleError(nameSpace, logErrCode, errDesc, userErrDesc, syserrDesc): Object=
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": nameSpace ++ ": " ++ logErrCode,
			"user_error_description": userErrDesc ++ errDesc,
			"system_error_description": syserrDesc
		}
	}
}

var nameSpace=vars.errorMessageTep.errorType.namespace
var logErrCode=(if (vars.errorMessageTep.errorMessage.payload.traxion_response.error.user_error_description contains "409") "409" 
	else if (vars.errorMessageTep.errorMessage.payload.traxion_response.error.user_error_description contains "404") "404"
	else "error": vars.errorMessageTep)
var errDesc=vars.errorMessageTep.errorMessage.payload.traxion_response.error.user_error_description
var userErrDesc="The request cannot be processed due to a conflict in the current state of the resource on the server. -> "
var syserrDesc=vars.errorMessageTep.errorMessage.payload.traxion_response.error.system_error_description.system_error_description.response

---

handleError(nameSpace, logErrCode, errDesc, userErrDesc, syserrDesc)]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/json
---
vars.errorCodeTep]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Visualize error response" doc:id="418581a2-c242-4c85-9101-be45a52f1002" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="49693ced-2bc7-4108-8927-d710301f5d01" type="ANY">
                <ee:transform doc:name="Transform Message" doc:id="5a963d6c-6e32-436c-86e6-8730f32ca5ce">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---

  {
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": error	
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="traxion-pharma-api-console">
        <http:listener config-ref="traxion-pharma-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="traxion-pharma-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\tms\liquidated:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable" doc:id="6c28d655-fb98-4830-87c8-ea4cf9d6de7d">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[attributes.queryParams.source_system]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-get-tms-settled" doc:id="ec710393-0c03-4143-a50d-1847edd19207" name="orchestrator-post-tms-settled" />
    </flow>
    <flow name="post:\tms\payments\statements-folios:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "successful",
      data: {}
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="post:\tms\load-confirmation:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable" doc:id="d0cc6b53-d9bb-41c7-9607-8f4d07366427">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[attributes.queryParams.source_system]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="Visualize encripted fields" doc:id="b545c135-45e5-4894-a201-15522804362a" message='#[%dw 2.0&#10;output application/java&#10;---&#10;"id: " ++ Mule::p("secure::anypoint.platform.client_id") ++ "-" ++ "secret: " ++ Mule::p("secure::anypoint.platform.client_secret")&#10; ++ "-" ++ "processClient: " ++ Mule::p("secure::client.process.pharma.api.https.client_id") ++ "-" ++ "processScrt: " ++ &#10; Mule::p("secure::client.process.pharma.api.https.client_secret")&#10; ++ "-" ++ "clienSys: " ++ Mule::p("secure::client.system.tep.api.https.client_id") ++ "-" ++ "sectSys: " ++ ("secure::client.system.tep.api.https.client_secret")]' />
		<flow-ref doc:name="Call-orchestrator-post-tms-load-confirmation" doc:id="25ea7f86-7208-41b5-88a3-9d3ed5941b7d" name="orchestrator-post-tms-load-confirmation" />
    </flow>
    <flow name="post:\tms\product-interface:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable" doc:id="bcbadd31-cc04-443b-b8a5-26449c626331">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[attributes.queryParams.source_system]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-post-tms-product-interface" doc:id="4dafdd46-abd6-4923-8b39-a85b9c94c0b0" name="orchestrator-post-tms-product-interface" />
    </flow>
    <flow name="post:\tms\carta-porte:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable" doc:id="52ce10a1-9f42-42a4-977c-c4ca6de84020">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[attributes.queryParams.source_system]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-post-tms-bill-lading" doc:id="202aeed3-595f-4d4a-96be-31ac868d6f11" name="orchestrator-post-tms-bill-lading" />
    </flow>
    <flow name="post:\salesforce\siam:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable customer_name y transform payload" doc:id="dbf8e670-9bb4-446d-80c0-e5b0e96d4578">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item) -> {
    "existencias_apartadas": item.existencias_apartadas as String,
    "existencias_disponibles": item.existencias_disponibles as String,
    "fecha": item.fecha as String,
    "existencias_totales": item.existencias_totales as String,
    "sku": item.sku as String,
    "clave_presupuestal": item.clave_presupuestal as String
} )]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="customer_name"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.customer_name]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-post-salesforce-siam" doc:id="7c406bc8-698d-445c-985c-7a8da3760dc3" name="orchestrator-post-salesforce-siam" />
    </flow>
    <flow name="get:\issste\detailed:traxion-pharma-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    clave_umu: 5,
    nombre_umu: "UMF RINCON DE ROMOS",
    delega: "Aguascalientes",
    entrega: 420004661,
    pedido_sap: 60161403,
    pedido_insights: "D24-FEB-208/U005/MM/",
    categoria: "OR",
    clave_ins: 10000311100,
    desc_ins: "DIFENIDOL. TABLETA, CADA TABLETA CONTIENE: CLORHIDRATO DE DIFENIDOL EQUIVALENTE A 25 MG. DE DIFENIDO",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 10,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "02:38:25",
    fec_est_ent: "02/19/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 821,
    nombre_umu: "UMF LAS NIEVES",
    delega: "Durango",
    entrega: 420004663,
    pedido_sap: 60161419,
    pedido_insights: "D24-FEB-214/U821/MM/",
    categoria: "OR",
    clave_ins: 10000122400,
    desc_ins: "ALUMINIO Y MAGNESIO. SUSPENSION ORAL. CADA 100 ml. CONTIENEN: HIDROXIDO DE ALUMINIO 3.7 g. HIDROXIDO",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 14,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "14:38:47",
    fec_est_ent: "02/22/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 224,
    nombre_umu: "CH HUEJUTLA DE REYES",
    delega: "Hidalgo",
    entrega: 420004665,
    pedido_sap: 60161429,
    pedido_insights: "D24-FEB-216/U224/MM/",
    categoria: "UM",
    clave_ins: 10000214400,
    desc_ins: "LORATADINA. TABLETA O GRAGEA, CADA TABLETA O GRAGEA CONTIENE: LORATADINA 10 MG. ENVASE CON 20 TABLET",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 200,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "16:53:27",
    fec_est_ent: "02/20/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 51,
    nombre_umu: "CH MANZANILLO",
    delega: "Colima",
    entrega: 420004656,
    pedido_sap: 60161398,
    pedido_insights: "D24-FEB-203/U051/MC/",
    categoria: "OR",
    clave_ins: 604360107,
    desc_ins: "GASA SECA CORTADA, DE ALGODON 100%. TEJIDA. DOBLADA EN 12 CAPAS. NO ESTERIL. TIPO DE TEJIDO VII. DE ",
    programa: "-",
    subinventario: "MATERIAL DE CURACIÓN",
    cantidad_piezas: 2,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "02:05:35",
    fec_est_ent: "02/19/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 402,
    nombre_umu: "CH HUAJUAPAN DE LEON",
    delega: "Oaxaca",
    entrega: 420004657,
    pedido_sap: 60161399,
    pedido_insights: "D24-FEB-204/U402/MC/",
    categoria: "OR",
    clave_ins: 2200010048,
    desc_ins: "BATA QUIRURGICA ESTERIL: INTEGRADO POR: TELA NO TEJIDA GRADO MEDICO, DE POLIPROPILENO, 100% IMPERMEA",
    programa: "-",
    subinventario: "MATERIAL DE CURACIÓN",
    cantidad_piezas: 1,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "02:11:49",
    fec_est_ent: "02/20/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 52,
    nombre_umu: "HG DR. BELISARIO DOMINGUEZ, TUXTLA GUTIE",
    delega: "Chiapas",
    entrega: 420004651,
    pedido_sap: 60161393,
    pedido_insights: "D24-FEB-198/U052/MM/",
    categoria: "OR",
    clave_ins: 10000218800,
    desc_ins: "IPRATROPIO-SALBUTAMOL. SOLUCION. CADA AMPOLLETA CONTIENE: BROMURO DE IPRATROPIO MONOHIDRATADO EQUIVA",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 1,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "01:30:07",
    fec_est_ent: "02/21/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 797,
    nombre_umu: "CMF OJOCALIENTE",
    delega: "Aguascalientes",
    entrega: 420004654,
    pedido_sap: 60161396,
    pedido_insights: "D24-FEB-201/U797/MC/",
    categoria: "OR",
    clave_ins: 604360107,
    desc_ins: "GASA SECA CORTADA, DE ALGODON 100%. TEJIDA. DOBLADA EN 12 CAPAS. NO ESTERIL. TIPO DE TEJIDO VII. DE ",
    programa: "-",
    subinventario: "MATERIAL DE CURACIÓN",
    cantidad_piezas: 2,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "01:53:47",
    fec_est_ent: "02/19/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 224,
    nombre_umu: "CH HUEJUTLA DE REYES",
    delega: "Hidalgo",
    entrega: 420004665,
    pedido_sap: 60161429,
    pedido_insights: "D24-FEB-216/U224/MM/",
    categoria: "UM",
    clave_ins: 10000424900,
    desc_ins: "LEVOFLOXACINO. SOLUCION INYECTABLE. CADA ENVASE CONTIENE: LEVOFLOXACINO HEMIHIDRATADO EQUIVALENTE A ",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 40,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "16:53:27",
    fec_est_ent: "02/20/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 419,
    nombre_umu: "CMFE OAXACA",
    delega: "Oaxaca",
    entrega: 420004659,
    pedido_sap: 60161401,
    pedido_insights: "D24-FEB-206/U419/MM/",
    categoria: "OR",
    clave_ins: 10000414900,
    desc_ins: "PIOGLITAZONA TABLETA CADA TABLETA CONTIENE: CLORHIDRATO DE PIOGLITAZONA EQUIVALENTE A 15 MG DE PIOGL",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 7,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "02:22:17",
    fec_est_ent: "02/20/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 27,
    nombre_umu: "CH DR. PATRICIO TRUEBA REGIL, CAMP.",
    delega: "Campeche",
    entrega: 410648898,
    pedido_sap: 3949057,
    pedido_insights: "189555-00-01",
    categoria: "RP",
    clave_ins: 10000213300,
    desc_ins: "CLINDAMICINA CAPSULA CADA CAPSULA CONTIENE: CLORHIDRATO DE CLINDAMICINA EQUIVALENTE A 300 mg. DE CLI",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 30,
    cantidad_cajas: 0,
    "fecha_creación": "02/16/2024",
    "hora_creación": "18:12:30",
    fec_est_ent: "02/22/2024",
    fec_sal_cenadi: "NULL",
    "fecha_certificación": "NULL",
    estatus_pedido: "Surtido"
  }, 
  {
    clave_umu: 224,
    nombre_umu: "CH HUEJUTLA DE REYES",
    delega: "Hidalgo",
    entrega: 410648897,
    pedido_sap: 3948880,
    pedido_insights: "189412-00-00",
    categoria: "RP",
    clave_ins: 10000424900,
    desc_ins: "LEVOFLOXACINO. SOLUCION INYECTABLE. CADA ENVASE CONTIENE: LEVOFLOXACINO HEMIHIDRATADO EQUIVALENTE A ",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 40,
    cantidad_cajas: 0,
    "fecha_creación": "02/16/2024",
    "hora_creación": "15:42:37",
    fec_est_ent: "02/20/2024",
    fec_sal_cenadi: "NULL",
    "fecha_certificación": "NULL",
    estatus_pedido: "Surtido"
  }, 
  {
    clave_umu: 593,
    nombre_umu: "CMF CARDENAS",
    delega: "Tabasco",
    entrega: 420004660,
    pedido_sap: 60161402,
    pedido_insights: "D24-FEB-207/U593/MM/",
    categoria: "OR",
    clave_ins: 10000340700,
    desc_ins: "NAPROXENO TABLETA CADA TABLETA CONTIENE: NAPROXENO 250 MG. ENVASE CON 30 TABLETAS.",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 40,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "02:33:06",
    fec_est_ent: "02/21/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 683,
    nombre_umu: "CMFE MERIDA (COL. LINDAVISTA)",
    delega: "Yucatán",
    entrega: 420004650,
    pedido_sap: 60161392,
    pedido_insights: "D24-FEB-197/U683/MM/",
    categoria: "OR",
    clave_ins: 10000224700,
    desc_ins: "CINITAPRIDA. COMPRIMIDO. CADA COMPRIMIDO CONTIENE BITARTRATO DE CINITAPRIDA EQUIVALENTE A 1 MG DE CI",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 20,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "01:21:37",
    fec_est_ent: "02/21/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 406,
    nombre_umu: "UMF SILACAYOAPAM",
    delega: "Oaxaca",
    entrega: 420004662,
    pedido_sap: 60161404,
    pedido_insights: "D24-FEB-209/U406/MM/",
    categoria: "OR",
    clave_ins: 10000122400,
    desc_ins: "ALUMINIO Y MAGNESIO. SUSPENSION ORAL. CADA 100 ml. CONTIENEN: HIDROXIDO DE ALUMINIO 3.7 g. HIDROXIDO",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 1,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "02:42:21",
    fec_est_ent: "02/20/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 738,
    nombre_umu: "HR LEON",
    delega: "Guanajuato",
    entrega: 410648899,
    pedido_sap: 3949244,
    pedido_insights: "06575-0001",
    categoria: "SV",
    clave_ins: 10000530300,
    desc_ins: "ACIDO MICOFENOLICO. GRAGEA CON CAPA ENTERICA O TABLETA DE LIBERACION PROLONGADA. CADA GRAGEA CON CAP",
    programa: "TRASPLANTES",
    subinventario: "ALTA ESPECIALIDAD",
    cantidad_piezas: 50,
    cantidad_cajas: 0,
    "fecha_creación": "02/16/2024",
    "hora_creación": "20:11:05",
    fec_est_ent: "02/17/2024",
    fec_sal_cenadi: "NULL",
    "fecha_certificación": "NULL",
    estatus_pedido: "Surtido"
  }, 
  {
    clave_umu: 568,
    nombre_umu: "HG DR. FERNANDO OCARANZA, HERMOSILLO",
    delega: "Sonora",
    entrega: 420004645,
    pedido_sap: 60161387,
    pedido_insights: "D24-FEB-192/U568/MC/",
    categoria: "OR",
    clave_ins: 5004860001,
    desc_ins: "CUBREBOCA QUIRURGICO ELABORADO CON DOS CAPAS EXTERNAS DE TELA NO TEJIDA O MÁS CAPAS, UN FILTRO DE EF",
    programa: "-",
    subinventario: "MATERIAL DE CURACIÓN",
    cantidad_piezas: 100,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "00:44:58",
    fec_est_ent: "02/21/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 738,
    nombre_umu: "HR LEON",
    delega: "Guanajuato",
    entrega: 410648899,
    pedido_sap: 3949244,
    pedido_insights: "06575-0001",
    categoria: "SV",
    clave_ins: 10000508400,
    desc_ins: "TACROLIMUS CAPSULA CADA CAPSULA CONTIENE : TACROLIMUS MONOHIDRATADO EQUIVALENTE A 1 mg. DE TACROLIMU",
    programa: "TRASPLANTES",
    subinventario: "ALTA ESPECIALIDAD",
    cantidad_piezas: 50,
    cantidad_cajas: 0,
    "fecha_creación": "02/16/2024",
    "hora_creación": "20:11:05",
    fec_est_ent: "02/17/2024",
    fec_sal_cenadi: "NULL",
    "fecha_certificación": "NULL",
    estatus_pedido: "Surtido"
  }, 
  {
    clave_umu: 224,
    nombre_umu: "CH HUEJUTLA DE REYES",
    delega: "Hidalgo",
    entrega: 410648897,
    pedido_sap: 3948880,
    pedido_insights: "189412-00-00",
    categoria: "RP",
    clave_ins: 10000360700,
    desc_ins: "GLUCOSA. SOLUCION INYECTABLE AL 50%. CADA 100 ML CONTIENEN: GLUCOSA ANHIDRA O GLUCOSA 50 G O GLUCOSA",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 50,
    cantidad_cajas: 0,
    "fecha_creación": "02/16/2024",
    "hora_creación": "15:42:37",
    fec_est_ent: "02/20/2024",
    fec_sal_cenadi: "NULL",
    "fecha_certificación": "NULL",
    estatus_pedido: "Surtido"
  }, 
  {
    clave_umu: 16,
    nombre_umu: "HG FRAY JUNIPERO SERRA, TIJUANA",
    delega: "Baja California",
    entrega: 420004646,
    pedido_sap: 60161388,
    pedido_insights: "D24-FEB-193/U016/MM/",
    categoria: "OR",
    clave_ins: 10000341500,
    desc_ins: "PIROXICAM CAPSULA O TABLETA CADA CAPSULA O TABLETA CONTIENE: PIROXICAM 20 MG. ENVASE CON 20 CAPSULAS",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 1,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "00:54:47",
    fec_est_ent: "02/22/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }, 
  {
    clave_umu: 224,
    nombre_umu: "CH HUEJUTLA DE REYES",
    delega: "Hidalgo",
    entrega: 420004665,
    pedido_sap: 60161429,
    pedido_insights: "D24-FEB-216/U224/MM/",
    categoria: "UM",
    clave_ins: 10000402501,
    desc_ins: "EZETIMIBA-SIMVASTATINA. COMPRIMIDO. CADA COMPRIMIDO CONTIENE: EZETIMIBA 10 MG SIMVASTATINA 20 MG. EN",
    programa: "-",
    subinventario: "MEDICAMENTO",
    cantidad_piezas: 30,
    cantidad_cajas: 1,
    "fecha_creación": "02/16/2024",
    "hora_creación": "16:53:27",
    fec_est_ent: "02/20/2024",
    fec_sal_cenadi: "02/16/2024",
    "fecha_certificación": "NULL",
    estatus_pedido: "En Transito"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\issste\detail:traxion-pharma-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    fecha_inventario: "02/28/2024",
    clave: 10000575400,
    partida_presup: 253010000,
    descripcion: "SOMATROPINA. SOLUCIO",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 5523,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000595000,
    partida_presup: 253010000,
    descripcion: "GOLIMUMAB. SOLUCION ",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 981,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000606900,
    partida_presup: 253010000,
    descripcion: "PIRFENIDONA. TABLETA",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 103,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000609500,
    partida_presup: 253010000,
    descripcion: "RUXOLITINIB TABLETA ",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 101,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000617800,
    partida_presup: 253010000,
    descripcion: "IXEKIZUMAB. SOLUCIÓN",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 323,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 600880652,
    partida_presup: 254010004,
    descripcion: "APÓSITOS. HIDROCOLOI",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 6590,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 604560367,
    partida_presup: 254010004,
    descripcion: "GUANTES. PARA CIRUGÍ",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 20000,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 605980010,
    partida_presup: 254010004,
    descripcion: "LLAVES. DE CUATRO VI",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 12201,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 606210482,
    partida_presup: 254010004,
    descripcion: "MASCARILLAS DESECHAB",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 2067,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 606810034,
    partida_presup: 254010004,
    descripcion: "PANALES DE FORMA ANA",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 40140,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000010100,
    partida_presup: 253010000,
    descripcion: "ACIDO ACETILSALICILI",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 1746,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000040600,
    partida_presup: 253010000,
    descripcion: "DIFENHIDRAMINA SOLUC",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 5513,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000044600,
    partida_presup: 253010000,
    descripcion: "BUDESONIDA-FORMOTERO",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 7315,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000059900,
    partida_presup: 253010000,
    descripcion: "NIFEDIPINO. COMPRIMI",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 70317,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000100600,
    partida_presup: 253010000,
    descripcion: "CALCIO. COMPRIMIDO E",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 70852,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000156600,
    partida_presup: 253010000,
    descripcion: "NISTATINA OVULO O TA",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 5759,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000192600,
    partida_presup: 253010000,
    descripcion: "DICLOXACILINA CAPSUL",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 19351,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000192900,
    partida_presup: 253010000,
    descripcion: "AMPICILINA TABLETA O",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 17849,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000193000,
    partida_presup: 253010000,
    descripcion: "AMPICILINA. SUSPENSI",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 3938,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }, 
  {
    fecha_inventario: "02/28/2024",
    clave: 10000212900,
    partida_presup: 253010000,
    descripcion: "AMOXICILINA-ACIDO CL",
    tipo_clave: "DPN",
    almacen: "CENADI",
    costo_promedio: 0,
    cantidad_disp: 0,
    dpn: 12340,
    importe_dpn: 0,
    importe_cant_disp: 0,
    cobertura_dias: 0
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
