src/main/mule/traxion-pharma-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="traxion-pharma-api-httpListenerConfig">
        <http:listener-connection host="${https.listener.host}" port="${https.listener.port}" protocol="HTTPS" readTimeout="${https.listener.read.timeout}" tlsContext="TLS_Context" />
    </http:listener-config>
    <apikit:config name="traxion-pharma-api-config" api="resource::ab8117f6-d718-4307-b5f7-03262d589cd0:traxion-pharma-api:1.0.44:raml:zip:traxion-pharma-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="traxion-pharma-api-main">
        <http:listener config-ref="traxion-pharma-api-httpListenerConfig" path="${https.listener.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="traxion-pharma-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-400",
			"user_error_description": "The server cannot or will not process the request due to something that is perceived to be a client error",
			"system_error_description": "Bad Request"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Logger" doc:id="e615457e-ff00-4cd4-8d67-4f6e54b08db8" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-404",
			"user_error_description": "The origin server did not find a current representation for the target resource or is not willing to disclose that one exists",
			"system_error_description": "Not Found"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Logger" doc:id="80781221-b323-419f-9a3f-2d23fb87c8b3" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-405",
			"user_error_description": "The method received in the request-line is known by the origin server but not supported by the target resource",
			"system_error_description": "Method Not Allowed"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Logger" doc:id="1144b946-192c-4b7e-bad0-c49274b5b3ca" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-406",
			"user_error_description": "The target resource does not have a current representation that would be acceptable to the user agent, according to the proactive negotiation header fields received in the request1, and the server is unwilling to supply a default representation",
			"system_error_description": "Not Acceptable"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Logger" doc:id="94c18347-f750-44e7-9cd5-100614391e39" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-415",
			"user_error_description": "The origin server is refusing to service the request because the payload is in a format not supported by this method on the target resource",
			"system_error_description": "Unsupported Media Type"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Logger" doc:id="01af7fd1-bdba-46c0-8d0b-69383b369ff8" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-501",
			"user_error_description": "The server does not support the functionality required to fulfill the request",
			"system_error_description": "Not Implemented"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Logger" doc:id="144ab1e2-0534-401a-947e-0c2412c3a6eb" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2ac2fec4-adcb-411e-b442-73b5680a5fe0" type="HTTP:BAD_REQUEST">
                <ee:transform doc:name="Transform Message" doc:id="947248e3-3743-4fc1-bb8b-77b8c3a3acaf">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": error.errorType.namespace ++ ": " ++ error.errorType.asString,
			"user_error_description": error.description,
			"system_error_description": if(error.description contains "400")
			error.muleMessage.typedValue
			else
			error.errorMessage.payload.traxion_response.error
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Logger" doc:id="5c49a697-817a-4849-8e93-b3f50b638d33" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="8c0d06dd-a8a0-4cbb-8d06-2ec87863beea" type="ERROR:BAD_REQUEST_CARTA_PORTE">
                <ee:transform doc:name="Transform Message" doc:id="25fa9e8f-42e4-4298-9add-674f385379c2">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": "HTTP:BAD_REQUEST(400)",
			"user_error_description": vars.errorMessage,
			"system_error_description": error.description
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Logger" doc:id="5346dbab-d0a6-4924-b4d9-b166ba36e2d7" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="49693ced-2bc7-4108-8927-d710301f5d01" type="ANY">
                <ee:transform doc:name="Transform Message" doc:id="5a963d6c-6e32-436c-86e6-8730f32ca5ce">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---

  {
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": error	
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Logger" doc:id="3bc5eb4c-c925-4b8e-836b-47b3a7035e77" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a7b1c49d-fb9c-4c06-9c8e-edef670a33b4" type="ERROR:CARTA_PORTE_SERVICE_UNAVAILABLE">
                <ee:transform doc:name="Transform Message" doc:id="d0672852-a68b-4eaf-8899-436a9156c1a2">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": "HTTP:503_" ++ error.errorType.asString,
			"user_error_description": error.description,
			"system_error_description": error.dslSource
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[503]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Logger" doc:id="a58c1ea5-8f13-4e54-926d-7b7432c639d0" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7853e24c-5f33-4451-afae-9176a2a8d495" type="TEP:ERROR">
                <!-- [STUDIO:"Choice"]<choice doc:name="Choice" doc:id="1b6fd8df-2c65-4791-aa73-ca4c6c71f8aa" tracking:enable-default-events="true">
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="eed9d632-34fb-40e8-b10b-dad1358daa7a" message="#[payload&#93;"/>
					</otherwise>
				</choice> [STUDIO] -->
                <ee:transform doc:name="Transform Message" doc:id="2235635c-af51-4087-9db1-f6c933fdf3ab">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json

fun handleError(nameSpace, logErrCode, errDesc, userErrDesc, syserrDesc): Object=
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": nameSpace ++ ": " ++ logErrCode,
			"user_error_description": userErrDesc ++ errDesc,
			"system_error_description": syserrDesc
		}
	}
}

var nameSpace=vars.errorMessageTep.errorType.namespace
var logErrCode=(if (vars.errorMessageTep.errorMessage.payload.traxion_response.error.user_error_description contains "409") "409" 
	else if (vars.errorMessageTep.errorMessage.payload.traxion_response.error.user_error_description contains "404") "404"
	else "error": vars.errorMessageTep)
var errDesc=vars.errorMessageTep.errorMessage.payload.traxion_response.error.user_error_description
var userErrDesc="The request cannot be processed due to a conflict in the current state of the resource on the server. -> "
var syserrDesc=vars.errorMessageTep.errorMessage.payload.traxion_response.error.system_error_description.system_error_description.response

---

handleError(nameSpace, logErrCode, errDesc, userErrDesc, syserrDesc)]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/json
---
vars.errorCodeTep]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Visualize error response" doc:id="418581a2-c242-4c85-9101-be45a52f1002" message="#[payload]" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="traxion-pharma-api-console">
        <http:listener config-ref="traxion-pharma-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="traxion-pharma-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\tms\liquidated:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable" doc:id="6c28d655-fb98-4830-87c8-ea4cf9d6de7d">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[attributes.queryParams.source_system]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-get-tms-settled" doc:id="ec710393-0c03-4143-a50d-1847edd19207" name="orchestrator-post-tms-settled" />
    </flow>
    <flow name="post:\tms\payments\statements-folios:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "successful",
      data: {}
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tms\load-confirmation:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable" doc:id="d0cc6b53-d9bb-41c7-9607-8f4d07366427">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[attributes.queryParams.source_system]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-post-tms-load-confirmation" doc:id="25ea7f86-7208-41b5-88a3-9d3ed5941b7d" name="orchestrator-post-tms-load-confirmation" />
    </flow>
    <flow name="post:\tms\product-interface:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable" doc:id="bcbadd31-cc04-443b-b8a5-26449c626331">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[attributes.queryParams.source_system]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-post-tms-product-interface" doc:id="4dafdd46-abd6-4923-8b39-a85b9c94c0b0" name="orchestrator-post-tms-product-interface" />
    </flow>
    <flow name="post:\tms\carta-porte:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable" doc:id="52ce10a1-9f42-42a4-977c-c4ca6de84020">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.source_system default "MD"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-post-tms-bill-lading" doc:id="202aeed3-595f-4d4a-96be-31ac868d6f11" name="orchestrator-post-tms-bill-lading" />
    </flow>
    <flow name="post:\salesforce\siam:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable customer_name y transform payload" doc:id="dbf8e670-9bb4-446d-80c0-e5b0e96d4578">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item) -> {
    "existencias_apartadas": item.existencias_apartadas as String,
    "existencias_disponibles": item.existencias_disponibles as String,
    "fecha": item.fecha as String,
    "existencias_totales": item.existencias_totales as String,
    "sku": item.sku as String,
    "clave_presupuestal": item.clave_presupuestal as String
} )]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="customer_name"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.customer_name]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-post-salesforce-siam" doc:id="7c406bc8-698d-445c-985c-7a8da3760dc3" name="orchestrator-post-salesforce-siam" />
    </flow>
    <flow name="get:\issste\detail:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="customer_name"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.customer_name]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-get-details-cam-products" doc:id="0cc7e5a2-18b9-482c-8ef4-df13a986c452" name="orchestrator-get-details-cam-products" />
    </flow>
    <flow name="get:\issste\detailed:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="customer_name"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.customer_name]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-get-issste-detailed" doc:id="e69e6d90-c3ce-4c4e-b3b0-1c9fb990d1e4" name="orchestrator-get-issste-detailed" />
    </flow>
    <flow name="post:\imss\orders:application\xml:traxion-pharma-api-config">
        <flow-ref doc:name="orchestrator-create-order-main" doc:id="5bbe8e6b-e1a3-407f-8356-ac63d83ddd4a" name="orchestrator-create-order-main" />
    </flow>
    <flow name="post:\imss\orders\v2:application\json:traxion-pharma-api-config">
        <flow-ref doc:name="Call to orchestrator-create-order-v2-main" doc:id="87e0dcf8-0b9f-4826-b73d-cb377d0d6016" name="orchestrator-create-order-v2-main" />
    </flow>
    <flow name="get:\tms\carta-porte:traxion-pharma-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="loadNumber"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.identifier]]></ee:set-variable>
                <ee:set-variable variableName="date"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.date]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call to orchestrator-get-s3-bill-lading" doc:id="fe1f59c3-26ce-4a8b-9104-7fa08c517715" name="orchestrator-get-s3-bill-lading" />
    </flow>
    <flow name="post:\v2\tms\carta-porte:application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Set variable" doc:id="a08b9f1b-e524-4277-934e-2c0e72ed71d6">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="source_system"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.source_system default "MD"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <!-- [STUDIO:"Call-orchestrator-post-tms-bill-lading"]<flow-ref doc:name="Call-orchestrator-post-tms-bill-lading" doc:id="a88f78a3-fb28-4e70-a9da-882e9397289d" name="orchestrator-post-tms-bill-lading" /> [STUDIO] -->
        <ee:transform doc:name="Transform Message" doc:id="2b93162e-9324-4552-9ab8-7f8ebf411810">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      message: "successful",
      data: {}
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\medistik\packing\list:traxion-pharma-api-config">
        <ee:transform doc:name="Transform Message1" doc:id="5c235208-4586-48e3-a00e-c78bd2d73815">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="load_num"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.load_num default 0]]></ee:set-variable>
                <ee:set-variable variableName="company"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.company]]></ee:set-variable>
                <ee:set-variable variableName="shipment_id"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.shipment_id]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="client-wms-rpt-resumen-lista-empaque-call" doc:id="97b8626b-d8cf-476b-be56-43cfc0915ac3" name="client-wms-rpt-resumen-lista-empaque-call" />
    </flow>
    <flow name="patch:\oms\orders\REMISSION\(tracking_id):application\json:traxion-pharma-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="tracking_id">attributes.uriParams.'tracking_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="orchestrator-kafka-operations-modifica-remision" doc:id="db554e15-dff1-49c6-a501-810b36042c44" name="orchestrator-kafka-operations-modifica-remision" />
    </flow>
    <flow name="post:\oms\orders\REMISSION:application\json:traxion-pharma-api-config">
        <flow-ref doc:name="orchestrator-kafka-operations-create-remision" doc:id="795ed8c6-f12e-4e23-a11a-59709b16f663" name="orchestrator-kafka-operations-create-remision" />
    </flow>
    <flow name="post:\oms\orders\REMISSION\events:application\json:traxion-pharma-api-config">
        <flow-ref doc:name="orchestrator-kafka-operations-events-remision" doc:id="eb5e1cfb-65bb-4c27-a144-ea6b7a3a17b3" name="orchestrator-kafka-operations-events-remision" />
    </flow>
    <flow name="post:\oms\articles\inventory:application\json:traxion-pharma-api-config">
        <flow-ref doc:name="orchestrator-kafka-wmsby-by-to-oms-operations-article-inventory" doc:id="00eeb488-1152-43d6-82c8-0e6dba7ea1b5" name="orchestrator-kafka-wmsby-by-to-oms-operations-article-inventory" />
    </flow>
    <flow name="post:\wms\by\loads\event:application\json:traxion-pharma-api-config">
        <flow-ref doc:name="orchestrator-kafka-unigis-by-wmsby-operations-load-events" doc:id="cfc7457b-3611-47ed-bf65-d76445045978" name="orchestrator-kafka-unigis-by-wmsby-operations-load-events" />
    </flow>
    <flow name="post:\pisa\suppliers\notification:application\json:traxion-pharma-api-config">
        <flow-ref doc:name="orchestrator-kafka-wms-to-pisa-operations-suppliers-notification" doc:id="d0d03f09-5d92-4991-842d-431271aac7a9" name="orchestrator-kafka-wms-to-pisa-operations-suppliers-notification" />
    </flow>
    <flow name="post:\wms\by\shipment\receipt:application\json:traxion-pharma-api-config">
        <flow-ref doc:name="orchestrator-kafka-pisa-to-wms-operations-shipment-receipt" doc:id="dec63001-b597-4150-90df-465aa2379198" name="orchestrator-kafka-pisa-to-wms-operations-shipment-receipt" />
    </flow>
    <flow name="post:\oms\orders:application\json:traxion-pharma-api-config">
        <flow-ref doc:name="orchestrator-kafka-pisa-to-oms-create-order" doc:id="9c3e9ada-939a-4479-b524-2702e2bdcd8c" name="orchestrator-kafka-pisa-to-oms-create-order" />
    </flow>
    <flow name="post:\pisa\confirm\receipt:application\json:traxion-pharma-api-config">
        <flow-ref doc:name="orchestrator-kafka-wms-to-pisa-operations-confirm-receipt" doc:id="942390ce-0d03-4eae-b779-11080bf6eac9" name="orchestrator-kafka-wms-to-pisa-operations-confirm-receipt" />
    </flow>
    <flow name="post:\oms\orders\events:application\json:traxion-pharma-api-config">
		<flow-ref doc:name="orchestrator-kafka-wmsby-to-oms-operations-order-events" doc:id="3be52ac1-d87b-48a5-913f-c81a4093ff3c" name="orchestrator-kafka-wmsby-to-oms-operations-order-events"/>
    </flow>
</mule>
